@import "./Sass/Utils/_Variables";
@import "./Sass/Utils/_Placeholders";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    color:#2d3436;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-primary;
}
body{
    @extend %max-size;
    display: flex;
    justify-content: center;
}

// HEADER //

#header{
    @extend %section-size;
    @extend %flex-center;
    @extend %border-bottom-section;
    #h1_header{
        font-size: 7rem;
        font-family: 'Playfair Display', serif;
        @extend %lighter-font-weight;
    }
    #button_list{
        margin: 2rem;
        display: flex;
        justify-content: space-around;
        width: 50vw;
        visibility: hidden;
    }
    #button_list.visible{
        visibility: visible;
        animation: fadeIn 2s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
    .header_link:hover{
        background-color: #bab5ff;
        transition: 1s;
        border-radius: 5px;
    }
    .header_button{
        font-size: 1.5rem;
        padding: 5px 10px;
        border: 0.5px solid #2d3436;
        border-radius: 5px;
        background: none;
        height: 50px;
        cursor: pointer;
    }
    
}

// FORMATION //

#formation_section{
    @extend %section-size;
    border-bottom: #2d3436 solid 0.5px;
    #formation_h1{
        margin: 20px 0;
        text-align: center;
        font-size: 4rem;
        @extend %lighter-font-weight;
    }
    #formation_div_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        width: 90vw;
        @extend %flex-center;
    }
    .formation_div{
        margin: 30px;
        height: 35vh;
        min-width: 35vw;
        border-radius: 10px;
        background: rgb(219, 219, 255);
    }
    .formation-div-title{
        @extend %lighter-font-weight;
        background: none;
        padding-bottom: 5px;
    }
    .formation_wiki{
        visibility: hidden;
        position: absolute;
        background: none;
        height: 50px;
        width: 50px;
        // Tout les onglets ne pourront pas avoir la meme taille au niveau du top et right car openclassrooms et plus grand que o'clock donc changer ça après //
        right: 10px;
        top: 10px;
        // right: 0.9rem;
        // top: 2.3rem;
    }
    .formation_wiki img{
        // background: none;
        position: relative;
    }
    #openclassrooms{
        @extend %flex-center;
        background: url(/Image/Formation/openclassrooms.png);
        background-size: cover;
        position: relative;
    }
    #openclassrooms_link{
        @extend %flex-center;
        @extend %formation-link-parameter;
    }
    #openclassrooms:hover #openclassrooms_link{
        @extend %formation-link-parameter-hover;
    }
    #openclassrooms:hover .formation_wiki{
        visibility: visible;
        transition: 0.5s;
    }

    #oclock{
        @extend %flex-center;
        background: url(/Image/Formation/Oclock.png);
        background-size: cover;
    }
    #oclock_link{
        @extend %flex-center;
        @extend %formation-link-parameter;
    }
    #oclock:hover #oclock_link{
        @extend %formation-link-parameter-hover;
    }

    #udemy{
        @extend %flex-center;
        background: url(/Image/Formation/Udemy.png);
        background-size: cover;
    }
    #udemy_link{
        @extend %flex-center;
        @extend %formation-link-parameter;
    }
    #udemy:hover #udemy_link{
        @extend %formation-link-parameter-hover;
    }

    #Code42{
        @extend %flex-center;
        background: url(/Image/Formation/42.png);
        background-size: cover;
    }
    #Code42_link{
        @extend %flex-center;
        @extend %formation-link-parameter;
    }
    #Code42:hover #Code42_link{
        @extend %formation-link-parameter-hover;
    }
    
}

// TRAINING //

#training_section{
    @extend %max-size;
    #training_h1{
        @extend %section-h1-parameter;
    }

}

