@import "./Sass/Utils/_Variables";
@import "./Sass/Utils/_Placeholders";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    color:#2d3436;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-primary;
}
body{
    @extend %max-size;
}

// HEADER //

#header{
    @extend %max-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    #h1_header{
        margin:10px;
        font-size: 7rem;
        font-family: 'Playfair Display', serif;
        @extend %lighter-font-weight;
    }
    #button_list{
        display: flex;
        justify-content: space-around;
        width: 50vw;
        visibility: hidden;
    }
    #button_list.visible{
        visibility: visible;
        animation: fadeIn 2s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
    .header_link:hover{
        background-color: #bab5ff;
        transition: 1s;
        border-radius: 5px;
    }
    .header_button{
        font-size: 1.5rem;
        padding: 5px 10px;
        border: 0.5px solid #2d3436;
        border-radius: 5px;
        background: none;
        height: 50px;
        cursor: pointer;
    }
    #lisere{
        width: 90vw;
        border-bottom: solid 0.5px $color-secondary;
        position: absolute;
        bottom: 0;
    }
}

// Formation //

#formation_section{
    @extend %max-size;
    #formation_h1{
        margin: 20px 0;
        text-align: center;
        font-size: 4rem;
        @extend %lighter-font-weight;
    }
    #formation_div_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        width: 90vw;
        @extend %flex-center;
    }
    .formation_div{
        margin: 30px;
        height: 35vh;
        min-width: 35vw;
        border-radius: 10px;
        background: rgb(219, 219, 255);
        border-style: black solid 0.5px;
    }
    #openclassrooms{
        @extend %flex-center;
        background: url(/Image/Formation/openclassrooms.png);
        background-size: cover;
    }
    #openclassrooms_link{
        @extend %flex-center;
        @extend %link-parameter;
    }
    #openclassrooms:hover #openclassrooms_link{
        @extend %link-parameter-hover;
    }

    #oclock{
        @extend %flex-center;
        background: url(/Image/Formation/Oclock.png);
        background-size: cover;
    }
    #oclock_link{
        @extend %flex-center;
        @extend %link-parameter;
    }
    #oclock:hover #oclock_link{
        @extend %link-parameter-hover;
    }

    #udemy{
        @extend %flex-center;
        background: url(/Image/Formation/Udemy.png);
        background-size: cover;
    }
    #udemy_link{
        @extend %flex-center;
        @extend %link-parameter;
    }
    #udemy:hover #udemy_link{
        @extend %link-parameter-hover;
    }

    #Code42{
        @extend %flex-center;
        background: url(/Image/Formation/42.png);
        background-size: cover;
    }
    #Code42_link{
        @extend %flex-center;
        @extend %link-parameter;
    }
    #Code42:hover #Code42_link{
        @extend %link-parameter-hover;
    }
    // Créer dimension pour les link
}

