@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
#training_section, body {
  height: 100vh;
  width: 100%;
}

#formation_section #Code42_link, #formation_section #Code42, #formation_section #udemy_link, #formation_section #udemy, #formation_section #oclock_link, #formation_section #oclock, #formation_section #openclassrooms_link, #formation_section #openclassrooms, #formation_section #formation_div_container, #header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formation_section .formation-div-title, #formation_section #formation_h1, #header #h1_header, #training_section #training_h1 {
  font-weight: lighter;
}

#formation_section, #header {
  height: 100vh;
  width: 90vw;
}

#training_section #training_h1 {
  margin: 20px 0;
  text-align: center;
  font-size: 4rem;
}

#header {
  border-bottom: 0.5px #111415 solid;
}

#formation_section #Code42_link, #formation_section #udemy_link, #formation_section #oclock_link, #formation_section #openclassrooms_link {
  visibility: hidden;
  min-width: 35vw;
  font-size: 2rem;
  height: 35vh;
  background: none;
  text-decoration: none;
  border-radius: 10px;
}

#formation_section #Code42:hover #Code42_link, #formation_section #udemy:hover #udemy_link, #formation_section #oclock:hover #oclock_link, #formation_section #openclassrooms:hover #openclassrooms_link {
  visibility: visible;
  background: rgba(219, 219, 255, 0.752);
  transition: 0.5s;
}

* {
  color: #2d3436;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9b94fc;
}

body {
  display: flex;
  justify-content: center;
}

#header #h1_header {
  font-size: 7rem;
  font-family: "Playfair Display", serif;
}
#header #button_list {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  width: 50vw;
  visibility: hidden;
}
#header #button_list.visible {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#header .header_link:hover {
  background-color: #bab5ff;
  transition: 1s;
  border-radius: 5px;
}
#header .header_button {
  font-size: 1.5rem;
  padding: 5px 10px;
  border: 0.5px solid #2d3436;
  border-radius: 5px;
  background: none;
  height: 50px;
  cursor: pointer;
}

#formation_section {
  border-bottom: #2d3436 solid 0.5px;
}
#formation_section #formation_h1 {
  margin: 20px 0;
  text-align: center;
  font-size: 4rem;
}
#formation_section #formation_div_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 90vw;
}
#formation_section .formation_div {
  margin: 30px;
  height: 35vh;
  min-width: 35vw;
  border-radius: 10px;
  background: rgb(219, 219, 255);
}
#formation_section .formation-div-title {
  background: none;
  padding-bottom: 5px;
}
#formation_section .formation_wiki {
  visibility: hidden;
  position: absolute;
  background: none;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 10px;
}
#formation_section .formation_wiki img {
  position: relative;
}
#formation_section #openclassrooms {
  background: url(/Image/Formation/openclassrooms.png);
  background-size: cover;
  position: relative;
}
#formation_section #openclassrooms:hover .formation_wiki {
  visibility: visible;
  transition: 0.5s;
}
#formation_section #oclock {
  background: url(/Image/Formation/Oclock.png);
  background-size: cover;
  position: relative;
}
#formation_section #udemy {
  background: url(/Image/Formation/Udemy.png);
  background-size: cover;
  position: relative;
}
#formation_section #Code42 {
  background: url(/Image/Formation/42.png);
  background-size: cover;
  position: relative;
}/*# sourceMappingURL=style.css.map */