@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
$color-primary:#9b94fc;
$color-secondary:#2d3436;
*{
    color:#2d3436;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
%max-size{
    height: 100vh;
    width: 100%;
}
body{
    @extend %max-size;
}
#header{
    @extend %max-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    #h1_header{
        margin:10px;
        font-size: 7rem;
        font-family: 'Playfair Display', serif;
        font-weight: lighter;
    }
    #button_list{
        display: flex;
        justify-content: space-around;
        width: 50vw;
        visibility: hidden;
    }
    #button_list.visible{
        visibility: visible;
        animation: fadeIn 2s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
    .header_link:hover{
        background-color: #bab5ff;
        transition: 1s;
        border-radius: 5px;
    }
    .header_button{
        font-size: 1.5rem;
        padding: 5px 10px;
        border: 0.5px solid #2d3436;
        border-radius: 5px;
        background: none;
        height: 50px;
        cursor: pointer;
    }
}
