%max-size{
    height: 100vh;
    width: 100%;
}
%lighter-font-weight{
    font-weight: lighter;
}
%flex-center{
    display: flex;
    justify-content:center;
    align-items: center;
}
%link-parameter{
    visibility: hidden;
    min-width: 35vw;
    font-size: 2.5rem;
    height: 35vh;
    background: none;
    text-decoration: none;
    border-radius: 10px;
}
%link-parameter-hover{
    visibility:visible;
    background:rgba(219, 219, 255, 0.481);
    transition: 0.5s;
}
